.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
  }
  
  .searchInput {
    width: 100%;
    max-width: 400px;
    padding: 0.5rem 1rem;
    font-size: 1.2rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-bottom: 2rem;
  }
  
  .bookList {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap: 2rem;
  }
  .but{
    background-color: #0056b3;
    height: 50px;
    width: 120px;
    position: relative;
    color: white;
    border:2px solid #0056b3;
    border-radius: 10px;
    margin-left: 1100px;
    margin-bottom: 20px;
  }
  @media (max-width: 768px) {
    .bookList {
      grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    }
  }
  